---
import Layout from '../../layouts/Layout.astro';
import './styles/contact.scss';
---
<Layout title="Contact">
  <div className='container'>
    <p>Have any question or would like to comment on my game or adventure?</p>
    <p>Write to me on: w.k.r.1992@gmail.com</p>
    <p>Or join Haunted Matter <a href="https://discord.gg/NPrewpeK">discord</a></p>
  </div>
</Layout>
