---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Contact">
  <p>Have any question or would like to comment on my game or adventure?</p>
  <p>Write to me on: flesh.fills.spirit@gmail.com</p>
</Layout>
