---
import Layout from '../layouts/Layout.astro';
import * as home from '../content/obsidian/home.mdx';

const { frontmatter, Content } = home;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <Content />
</Layout>
