---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Lore">
  <h1>Lore</h1>
  <nav>
    <ul>
      <li><a href="/flesh-fills-spirit/lore/zaya/">Zaya</a></li>
      <li><a href="/flesh-fills-spirit/lore/akimbo">Akimbo</a></li>
    </ul>
  </nav>
</Layout>
