---
import Layout from '../../layouts/Layout.astro';
import './styles/lore.scss';
import * as home from '../../content/obsidian/The World of Zaya.mdx';

const { frontmatter, Content } = home;
---
<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <Content />
</Layout>
