---
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Site</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/flesh-fills-spirit">Main</a>
				<a href="/flesh-fills-spirit/lore">Lore</a>
				<a href="/flesh-fills-spirit/adventures">Adventures</a>
				<a href="/flesh-fills-spirit/mechanics">Mechanics</a>
				<a href="/flesh-fills-spirit/general">General</a>
				<a href="/flesh-fills-spirit/contact">Contact</a>
			</nav>
		</header>
		
		<main class="container">
			<slot />
		</main>

		<footer>
			<p>&copy; 2025 Haunted Matter TTRPG - all rights reserved</p>
		</footer>
	</body>
</html>
