---
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/haunted-matter/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Haunted Matter</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/haunted-matter">Main</a>
				<a href="/haunted-matter/lore">Lore</a>
				<a href="/haunted-matter/adventures">Adventures</a>
				<a href="/haunted-matter/mechanics">Rules</a>
				<a href="/haunted-matter/contact">Contact</a>
				<a href="https://discord.gg/zMx9mPKgwA">Discord</a>
			</nav>
		</header>
		
		<main class="container">
			<slot />
		</main>

		<footer>
			<p>&copy; 2025 Haunted Matter TTRPG - all rights reserved</p>
		</footer>
	</body>
</html>
