.main-header {
  margin-bottom: 1rem;
}

.stone-and-leaf-mdx-container {
  display: flex;
  flex-direction: row-reverse;
}

.stone-and-leaf-aside {
  width: 30%;
  padding-left: 1rem;
  max-height: calc(100vh - 220px);
  position: sticky;
  top: 125px;
  align-self: flex-start;
  border-left: 1px solid #ccc;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 2rem;
}

.stone-and-leaf-main {
  width: 70%;
  padding-right: 2rem;
}

@media (max-width: 840px) {
  .stone-and-leaf-mdx-container {
    flex-direction: column;
  }

  .stone-and-leaf-aside {
    position: static;
    top: auto;
    max-height: none;
    border: none;
    padding-left: 0;
  }

  .stone-and-leaf-aside,
  .stone-and-leaf-main {
    width: 100%;
  }
}
