---
import Layout from '../../layouts/Layout.astro';
import * as rules from '../../content/obsidian/Rules.mdx';

const { frontmatter, Content } = rules;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <Content />
</Layout>

