---
import Layout from '../../layouts/Layout.astro';
import './styles/adventures.scss';
---
<Layout title="Adventures">
  <h1>Adventures</h1>
  <ul>
    <li><a href="/haunted-matter">Border between stone and leaf - oneshot</a></li>
  </ul>
</Layout>
