---
import Layout from '../../layouts/Layout.astro';
import './styles/adventures.scss';
---
<Layout title="Adventures">
  <h1>Adventures</h1>
  <ul>
    <li><a href="/haunted-matter/adventures/stoneAndLeaf">The boundary between stone and leaf - oneshot</a></li>
    <li><a href="/haunted-matter/adventures/witnessesOfYesterday">Witnesses of Yesterday - oneshot</a></li>
  </ul>
</Layout>
