---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Adventures">
  <h1>Adventures</h1>
  <ul>
    <li>Adventure 1</li>
    <li><a href="/przygody/przygoda-2/">Adventure 2</a></li>
  </ul>
</Layout>
